
/*
* {
border: 1px solid red !important;
}
*/
html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body {
	background-color: #D8EDFB;
	color: #FFF;
	padding-top: 20px;
}
.col-md-12, .col-sm-12, .col-xs-12, .col-md-11, .col-sm-11, .col-xs-11,
.col-md-10, .col-sm-10, .col-xs-10, .col-md-9, .col-sm-9, .col-xs-9,
.col-md-8, .col-sm-8, .col-xs-8, .col-md-7, .col-sm-7, .col-xs-7,
.col-md-6, .col-sm-6, .col-xs-6, .col-md-5, .col-sm-5, .col-xs-5,
.col-md-4, .col-sm-4, .col-xs-4, .col-md-3, .col-sm-3, .col-xs-3,
.col-md-2, .col-sm-2, .col-xs-2, .col-md-1, .col-sm-1, .col-xs-1, 
.container-fluid, .row {
	padding: 0;
}
.row {
	margin: 0;
}
nav ul {
	background-color: #038DE4;
	margin-right: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
a {
	color: #FFF;
}
h1 {
	font-size: 2.5em;
	line-height: 70px;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
	line-height: 30px;
	margin: 10px 0;
}
hr {
	margin: 10px 0;
}
.container-fluid {
	margin-bottom: 30px;
}



/**** NAVIGATION, HEADER, BRAND ****/
.brand img {
	padding: 20px;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navigation_box {
	margin-bottom: 20px;
}
.navigation_title {
	padding-left: 30px;
	margin-bottom: 20px; /* tirar esta linha se inverter o marketing com a barra de navegação*/
}
.navigation_title h1 {
	line-height: 86px;
	background-color: #038DE4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


/**** TAB STYLE ****/
.outer_wrapper{
	z-index: 10;
	background-color: transparent;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
.menu_wrapper:not(.btns_load_page) .list_wrapper>a:first-child{
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
.menu_wrapper:not(.btns_load_page) .list_wrapper>a:last-child{
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.menu_wrapper:not(.btns_load_page) .list_wrapper>a.active,
.menu_wrapper:not(.btns_load_page) .list_wrapper>a.active span {
	background-color: #038DE4;
	background-image: #043E64;
	color: #FFF;
}
.menu_wrapper:not(.btns_load_page) .list_wrapper>a.active:after{
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #038DE4;
}
.menu_wrapper:not(.btns_load_page) .list_wrapper>a:hover {
	background-color: #47ABEC;
	color: #fff;
}
.tab_content {
	background-color: #FFF;
	color: #043E64;
	font-size: 1em;
	border: 1px solid #8BCBF5;
	padding: 30px;
	height: 60vh;
	border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.tab_wrapper .tab_content:not(.active){
	display: none;
}
.list-group-item {
	border: 1px solid #8BCBF5;
}
.list_wrapper a {
	color: #043E64;
}
.icon_label {
	display: inline-block;
	width: 50px;
	text-align: center;
}
.btn-group {
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.btn-group p {
	display: inline-block;
	line-height: 27px;
	color: #043E64;
}
.btns_load_page {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
.page_group button span {
	font-size: 20px;
}
.btn-group button {
	border: 1px solid #8BCBF5;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.btn-info {
	background-color: #038DE4;
}
.btn-info:hover {
	background-color: #47ABEC !important;
}
.load_group {
	width: 100%;
	margin: 18%;
}




/**** PAGE 2 ****/
.tool_outer_wrapper {
	color: #043E64;
}
.tool_menu_wrapper {
	padding: 20px;
	background-color: #8BCBF5;
	border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	margin-bottom: 10px;
}
.commands_wrapper {
	background-color: #fff;
	padding: 20px;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
}
.tool_menu_wrapper span {
	font-size: 16px;
}
.tool_wrapper h4, .tool_wrapper h5 {
	text-align: center;
	background-color: #8BCBF5;
}
.tool_wrapper h5 {
	color: #fff;
}
.tool_wrapper p {
	display: inline-block;
	width: 130px;
}
.tool_wrapper input:not(#fontColor):not(#borderColor) {
	width: 160px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.tool_wrapper input[type="range"] {
	display: inline-block;
}
.text_tool textarea {
	resize: none;
	width: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.text_tool select {
	width: 130px;
	margin: 10px 0;
}
.move_tool div, .size_tool div {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.move_tool p, .size_tool p {
	display: inline-block;
	vertical-align: middle;
}
.move_arrows {
	display: inline-block;
	width: 80px;
	text-align: center;
	margin-bottom: 0 !important;
}
.move_arrows div:not(:last-child) {
	margin-bottom: 5px !important;
}
.size_arrows {
	display: inline-block;
	width: 110px;
}
.size_arrows p {
	width: 20px;
	text-align: center;
}
.size_arrows div:not(:last-child) {
		margin-bottom: 5px;
}
.tab-content {
	margin-bottom: 30px;
}
.preview_wrapper {
	background-color: #fff;
	min-height: 48vh;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
}



